.form {
  border-radius: 25px;
  max-width: 650px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 42px;
  font-weight: 600;
  background-color: #f3fcff;
  padding: 100px;
}
.form:focus {
  cursor: none;
}

.inputContainer {
  display: flex;
  gap: 15px;
  position: relative;
}
.inputContainerMarginTop {
  margin-top: 20px;
}
.input {
  letter-spacing: 1.3px;
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  background-color: #D1F0FF;
  outline: none;
}
.input:focus {
  border: 3px solid #00b4ff;
}

.select {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  appearance: none;
  border: none;
  padding: 25px 44px 25px 24px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  background-color: #D1F0FF;
  outline: none;
}

.select:focus {
  border: 3px solid #00b4ff;
}

.arrow {
  position: absolute;
  display: inline-block;
  pointer-events: none;
  top: 18px;
  right: 8px;
}
.option {
  cursor: pointer;
}